@model ImportMasterWolf.Models.Common.Class
@{
    ViewData["Title"] = "Home | Thai Stanley";
    Layout = "~/Views/Shared/_MenuBar.cshtml";
}
<link href="~/css/Home/siteHome.css" rel="stylesheet" />
<script type="text/javascript">document.onreadystatechange = () => { if (document.readyState === "interactive") { PositionY("Home"); } }</script>
<div class="home-content">
    <div id="DisplayContent" class="content-box">
        <div class="white-space"></div>
        <div class="container content-text">
            <div class="title-box">
                <div class="title">
                    <h2>ยินดีต้อนรับ</h2>
                </div>
            </div>
            <div class="content">
              
            </div>
        </div>
    </div>
</div>

